{% extends 'admin.html.twig' %}

{% block title %}Service Après-Vente{% endblock %}

{% block body %}
    <section class="block">
        <h2>Ajouter une question à la FAQ</h2>
        {{ form(form) }}
    </section>
{% endblock %}