{% extends 'admin.html.twig' %}

{% block title %}Service Après-Vente{% endblock %}

{% block body %}

<section class="block tab-container">
    <h2>Service après-vente</h2>
    <ul class="tabs-btn tabs">
        <li><a class="tab active">FAQ</a></li>
        <li><a class="tab">Demandes en cours</a></li>
        <li><a class="tab">Demandes finalisées</a></li>
        <li><a class="tab">Demandes annulées</a></li>
    </ul>

    <div class="tab-panes">
        <article class="tab-pane active">
            <h3>FAQ</h3>
            <div class="line">
                <p>Accueil</p>
                <ul>
                    <li><a href="" target="_blank" rel="noopener">Voir</a></li>
                    <li><a href="">Modifier</a></li>
                </ul>
            </div>
        </article>
        <article class="tab-pane">
            <h3>Demandes en cours</h3>
            <div class="line">
                <p>Accueil</p>
                <ul>
                    <li><a href="" target="_blank" rel="noopener">Voir</a></li>
                    <li><a href="">Modifier</a></li>
                </ul>
            </div>
        </article>
        <article class="tab-pane">
            <h3>Demandes finalisées</h3>
            <div class="line">
                <p>Accueil</p>
                <ul>
                    <li><a href="" target="_blank" rel="noopener">Voir</a></li>
                    <li><a href="">Modifier</a></li>
                </ul>
            </div>
        </article>
        <article class="tab-pane">
            <h3>Demandes annulées</h3>
            <div class="line">
                <p>Accueil</p>
                <ul>
                    <li><a href="" target="_blank" rel="noopener">Voir</a></li>
                    <li><a href="/admin/pages/modifier/accueil">Modifier</a></li>
                </ul>
            </div>
        </article>
    </div>
</section>

{% endblock %}
