<p><strong>Joueur, confortable, l&eacute;ger et costaud</strong></p>

<p>L&rsquo;iFun Pixel&nbsp;est un jouet extraordinaire taill&eacute; pour la randonn&eacute;e et le fun !<br />
Cet ULM dispose d&rsquo;une charge utile colossale et de la place suffisante pour les bagages. Il offre le m&ecirc;me confort et la m&ecirc;me s&eacute;curit&eacute; que ses fr&egrave;res biplaces de notre gamme et peut &ecirc;tre mont&eacute; par une personne seule en moins de 15 minutes.</p>

<ul>
</ul>