{% extends 'admin.html.twig' %}

{% block title %}Documentation{% endblock %}

{% block body %}
    <section class="block">
        <h2>Gestion de la documentation</h2>
        <div class="doc-nav-block cat float">
            <a href="{{ path('admin_doc_categories') }}">
                <figure class="image">
                    <img src="../uploads/admin/documentation/doc-block-cat.jpeg" alt="" />
                </figure>
                <h3>Gestion des catégories</h3>
            </a>
        </div>
        <div class="doc-nav-block files ml">
            <a>
                <figure class="image">
                    <img src="../uploads/admin/documentation/doc-block-files.jpeg" alt="" />
                </figure>
                <h3>Gestion des documents</h3>
            </a>
        </div>
    </section>
{% endblock %}
