{% extends 'admin.html.twig' %}

{% block title %}Liste des partenaires{% endblock %}

{% block body %}
    <section class="block tab-container">
        <a class="btn-link float-right" href="{{ path('app_admin_partners_add') }}">Ajouter un partenaire</a>
        <h2>Liste des partenaires</h2>
        <ul class="tabs tabs-btn">
            <li><a class="tab active">Revendeurs</a></li>
            <li><a class="tab">Formateurs</a></li>
        </ul>
        <div class="tab-panes">
            <div class="tab-pane active">
                <div class="line">
                    <p>Nom du revendeur</p>
                    <ul>
                        <li><a href="" target="_blank" rel="noopener">Voir</a></li>
                        <li><a href="">Modifier</a></li>
                        <li><a href="">Supprimer</a></li>
                    </ul>
                </div>
            </div>
            <div class="tab-pane">
                <div class="line">
                    <p>Nom du formateur</p>
                    <ul>
                        <li><a href="" target="_blank" rel="noopener">Voir</a></li>
                        <li><a href="">Modifier</a></li>
                        <li><a href="">Supprimer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
