form{
    position: relative;
}

label{
    font-size: 1em;
}

input{
    &[type=text],
    &[type=email],
    &[type=tel]{
        @include inputDesign();
    }
    &#newsletter_form_email{
        padding-right: 60px;
    }
}

button[type=submit]{
    @include redBtn();
    &#newsletter_form_submit{
        position: absolute;
        top: 0;
        right: 0;
        height: 47px;
        padding: 1rem;
        &:after{
            font: var(--fa-font-solid);
            content: '\f061';
        }
    }
}

select{
    @include inputDesign();
}

optgroup, option{
    font-family: 'Verdana';
    font-weight: 300;
    font-size: .8em;
}

textarea{
    @include inputDesign();
}

.horizontal-radio{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}