header{
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 .625rem;
    .logo-container{
        display: flex;
        justify-content: space-between;
        img{
            width: auto;
            height: $header-ht;
        }
    }
    .btn-nav{
        width: $header-ht;
        height: $header-ht;
        padding: 0 1.25rem;
        cursor: pointer;
        .bar{
            &::before,
            &::after{
                content: "";
                border: .0625rem  solid black;
                display: block;
                transition-duration: .5s;
            }
            &::before{
                width: 100%;
                margin-bottom: .5rem;
            }
            &::after{
                width: 75%;
            }
        }
        .label{
            display: none;
        }
        &.active{
            .bar{
                &::before,
                &::after{
                    transform-origin: 50% 50%;
                }
                &::before{
                    transform: rotate(45deg);margin-bottom: -0.1rem;
                }
                &::after{
                    transform: rotate(-45deg);
                    width: 100%;
                }
            }
        }
    }
}