.info-block-intro-container{
    background-color: $bw-color-2;
    &.bg-white{
        background-color: $bw-color-1;
    }
    video{
        width: 100%;
    }
}

.info-block-intro{
    padding: $marges-m;
    text-align: center;
    @media screen and (min-width: 1200px) {
        padding: $marges-d-y 0;
        margin: auto;
        max-width: 1200px;
    }
}

.marge-block{
    padding: $marges-m;
    @media screen and (min-width:1024px) {
        padding: $marges-d-y $marges-d-x;
    }
}

.info-block-action{
    overflow: hidden;
    .text{
        padding: $marges-m
    }
    .image{
        @include coverImage('4-3');
        svg{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            path{
                fill: $p-color;
            }
        }
    }
    @media screen and (min-width: 768px) {
        display: flex;
        .text, .image{
            flex: 50%;
        }
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .image{
            padding-top: calc(56.25% / 2);
        }
        &:nth-child(even){
            flex-direction: row-reverse;
        }
    }
    @media screen and (min-width: 1200px) {
        .text{
            padding: $marges-d-y $marges-d-x
        }
    }
}