.partners-container{
    margin: auto;
    .partners-map{
        // display: none;
        height: 300px;
    }
    @media screen and (min-width:1024px) {
        &::after{
            content: '';
            display: table;
            clear: both;
        }
        .partners-map,
        .partners-list{
            height: 600px;
        }
        .partners-map{
            float: left;
            width: 70%;
            height: 600px;
            display: block;
            background-color: $bw-color-4;
            overflow: hidden;
            position: relative;
        }
        .partners-list{
            float: right;
            width: 30%;
            overflow-y: scroll;
        }
    }
}

.partner-block{
    padding: $marges-m;
    background-color: $bw-color-2;
    h3{
        font-size: 1.5em;
        font-weight: 400;
    }
    a{
        color: black;
    }
    &.selected{
        background-color: $bw-color-4;
        color: white;
    }
    &:not(:last-child){
        margin-bottom: $marges-m;
    }
    @media screen and (min-width:1024px){
        &:not(:last-child){
            border-bottom: .0625rem solid $bw-color-3;
            margin-bottom: 0;
        }
    }
}

.ol-attribution{
    display: none;
}