.primary-menu{
    position: fixed;
    top: $header-ht;
    bottom: $navbar-ht;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: $grey-color;
    padding: $marges-m;
    overflow-y: scroll;
    transition-duration: .5s;
    &:not(.active){
        transform: translateX(-100%);
    }
    ul{
        margin: 0;
        padding-left: 0;
        list-style-type: none;
        font-size: 1.25em;
        &.sub-menu{
            font-size: 0.9em;
            padding-left: $marges-m;
            li{
                margin-top: calc(#{$marges-m} / 2.5)
            }
        }
    }
    li{
        color: white;
        &.nav-item{
            &:not(:last-child){
                margin-bottom: calc(#{$marges-m} / 1.2);
            }
        }
        &.sub-menu-btn{
            .sub-menu{
                display: none;
            }
            &.active{
                .sub-menu{
                    display: block;
                }
            }
        }
    }
    a{
        color: white;
        text-decoration: none;
    }
    span{
        cursor: pointer;
    }
    @media screen and (min-width: 1024px) {
        position: relative;
        top: initial;
        left: initial;
        bottom: initial;
        width: auto;
        background-color: rgba($color: #000000, $alpha: 0);
        padding: 0;
        overflow-y: initial;
        &:not(.active){
            transform: translateX(0);
        }
        &>ul{
            display: flex;
        }
        ul{
            font-size: 1em;
            &.sub-menu{
                position: absolute;
                top: 48px;
                right: -1rem;
                padding: .5rem 1rem;
                width: 220px;
                background-color: $p-color;
                li{
                    margin: .5rem 0;
                    text-align: right;
                }
            }
        }
        li{
            &.nav-item{
                margin-right: 2rem;
                position: relative;
                &:not(:last-child){
                    margin-bottom: 0;
                }
            }
        }
    }
}

.second-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: $p-color-l;
    padding: 0;
    margin: 0;
    width: 100%;
    height: $navbar-ht;
    display: flex;
    list-style-type: none;
    font-size: .75em;
    font-weight: 400;
    text-align: center;
    li{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:not(:last-child){
            border-right: .0625rem solid $p-color-d;
        }
    }
    a, span{
        color: black;
        text-decoration: none;
    }
    span{
        cursor: pointer;
    }
    @media screen and (min-width:1024px) {
        display: none;
    }
}

.header-base,
.header-second{
    .second-menu{
        @media screen and (min-width:1024px) {
            a, span{
                color: white;
            }
        }
    }
    
}