.primary-menu{
    position: fixed;
    top: $header-ht;
    right: 0;
    bottom: $navbar-ht;
    left: 0;
    z-index: 10;
    background-color: $grey-color;
    padding: $marges-nav-m;
    overflow-y: scroll;
    opacity: 0;
    transform: translateX(-100%);
    transition-duration: .5s;
    li{
        color: white;
        font-size: 1.2rem;
        &:not(:last-child){
            margin-bottom: calc(#{$marges-nav-m} / 2);
        }
    }
    a{
        color: white;
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        .sub-menu{
            margin-left: $marges-nav-m;
            li{
                font-size: 1.05rem;
                margin-top: calc(#{$marges-nav-m} / 4);
                &:first-child{
                    margin-top: calc(#{$marges-nav-m} / 2);
                }
                &:not(:last-child){
                    margin-bottom: 0;
                }
            }
        }
    }
    &.active{
        opacity: 1;
        transform: translateX(0%);
    }
}

.second-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: $p-color-l;
    padding: 0;
    margin: 0;
    width: 100%;
    height: $navbar-ht;
    display: flex;
    list-style-type: none;
    font-size: .75em;
    font-weight: 400;
    text-align: center;
    li{
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:not(:last-child){
            border-right: .0625rem solid $p-color-d;
        }
    }
    a{
        color: black;
        text-decoration: none;
    }
}