{% extends 'admin.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <section class="block">
        <h2>Ajouter un nouveau produit</h2>
       
    </section>
{% endblock %}