{% extends 'admin.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
    <section class="block">
        <h2>Ajouter un nouveau produit</h2>
        <ul class="tabs-btn">
            <li><a class="selected">Résumé</a></li>
            <li><a>Description</a></li>
            <li><a>Caractéristiques</a></li>
            <li><a>Galerie d'images</a></li>
        </ul>
        {{ form(form) }}
    </section>
{% endblock %}