{% extends 'admin.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <section class="block">
        <a class="btn-link float-right" href="{{ path('app_admin_sav_manager_add_question') }}">Créer un produit</a>
        <h2>Liste des produits</h2>
        <div class="line">
            <p>Nom du produit</p>
            <ul>
                <li><a href="" target="_blank" rel="noopener">Voir</a></li>
                <li><a href="">Modifier</a></li>
                <li><a href="">Supprimer</a></li>
            </ul>
        </div>
    </section>
{% endblock %}
