<div class="cover-video">
  <video controls autoplay muted>
    <source src="./uploads/video/video-home.mp4" type="video/mp4">
    <p>Votre navigateur ne prend pas en charge les vidéos HTML5.<br />
    <a href="myVideo.mp4">Voici un lien pour télécharger la vidéo</a>.</p>
  </video>
</div>

<!-- Block Intro -->
<section>
  <div class="text">
    <h1>Présentation du showroom</h1>
    <p>Air Création est l'une des premières sociétés françaises de conception et de fabrication d'aéronefs, le leader mondial de l’ULM Pendulaires (deltaplanes motorisés - DPM) n'a cessé de faire progresser ses produits afin d'optimiser confort & performance de vol.</p>
    <p>L'importante gamme d'ailes et de tricycles proposée par le constructeur Ardéchois permet d'offrir à chaque client une combinaison parfaitement adapté à ses besoins, que ce soit dans un but purement récréatif ou à titre professionnel (formation, baptêmes, photographie, surveillance, largage de parachutiste, expérimentation scientifique, compétition, …).</p>
    <p>Les 40 années de savoir-faire et d'expérience des équipes associée à l'utilisation de technologies de pointe ont permis de créer des aéronefs de plus en plus performants, de plus en plus fiables, de plus en plus confortables, de plus en plus économiques.</p>
    <p>Les ULM Air création étant présents sur tous les continents, cela en fait une réelle vitrine du savoir-faire aéronautique français.</p>
    <p>Nos valeurs : Passion - Innovation - Durabilité - Sécurité - Qualité</p>
  </div>
  <div class="image">
	<img src="./uploads/images/pages/home/img-block-1.jpg" alt="Présentation de Air Création" />
  </div>
</section>

<!-- Parallax -->
<div class="parallax"></div>

<!-- Block Infos 1 -->
<section class="block-infos-1">
  <!-- Slider Links -->
  <div class="block-slider">
    <a>
      <h2>
        Distributeur<br />
        Où nous trouver ?
      </h2>
    </a>
    <div>
      <img src="./uploads/images/pages/home/img-link-partners.jpg" />
    </div>
  </div>
  <div class="block-slider">
    <a>
      <h2>
        Centre de formation<br />
        Où vous former ?
      </h2>
    </a>
    <div>
      <img src="./uploads/images/pages/home/img-link-practice.jpg" />
    </div>
  </div>
  <!-- Icons Blocks -->
  <div class="icons-blocks-container">
    <article class="icons-block">
      <h3>Sur-mesure</h3>
      <p>Configurer l’ULM de vos rêves !</p>
    </article>
    <article class="icons-block">
      <h3>Shop</h3>
      <p>Retrouvez toutes les pièces détachées</p>
      <p><a href="https://shop.aircreation.fr" rel="noopener" target="blank">Voir notre boutique en ligne</a></p>
    </article>
    <article class="icons-block">
      <h3>Occasion</h3>
      <p>Trouvez l'occasion qu'il vous faut</p>
      <p><a href="https://shop.aircreation.fr/-les-occasions-air-creation" rel="noopener" target="blank">Voir nos produits d'occasions</a></p>
    </article>
    <article class="icons-block">
      <h3>Maintenance</h3>
      <p>Confier l’entretien de votre Air Création révision ou réparation à notre réseau de maintenance.</p>
    </article>
  </div>
</section>

<!-- Parallax -->
<div class="parallax"></div>

<!-- Block Infos 2 -->
<section class="block-infos-2">
  <div class="text">
    <h2>Qui sommes nous ?</h2>
    <p>Air Création est un acteur majeur de conception et de fabrication d'aéronefs français. Installé en Ardèche depuis 1982 le leader mondial de l’ULM Pendulaires (deltaplanes motorisés - DPM) n'a cessé de faire progresser ses produits afin d'optimiser confort & performance de vol.</p>
    <p>La passion qui anime encore ses fondateurs Jean-Yves LE BIHAN & Gilles BRU est à l’origine d’une progression remarquable propulsant le petit atelier à l’usine de production en seulement quelques années.</p>
    <p>Les deux pilotes ont su s’entourer d’une équipe à la fois brillante, compétente, forte et fidèle qui est restée soudée et motivée en toutes circonstances et avec qui ils ont pu révolutionner l’ultraléger Motorisé d’aujourd’hui et de demain.</p>
    <p>Les 40 années de savoir-faire et d'expérience des équipes associée à l'utilisation de technologies de pointe ont permis de créer des aéronefs toujours plus performants, plus fiables, plus confortables, en plus économiques.</p>
    <p>L'importante gamme d'ailes et de tricycles proposée par le constructeur Ardéchois permet d'offrir à chaque client une combinaison parfaitement adapté à ses besoins, que ce soit dans un but purement récréatif ou à titre professionnel (formation, baptêmes, photographie, surveillance, largage de parachutiste, expérimentation scientifique, compétition, …).</p>
    <p>L’entreprise de 22 salariés produit la majeure partie des pièces composant ses ULM dans l’usine de Lanas (07) et continu aujourd’hui son expansion en s’ouvrant à de nouvelles activités.</p>
    <p><a>En savoir plus</a></p>
  </div>
  <div class="image">
	<img src="./uploads/images/pages/home/img-block-3.jpg" alt="Histoire de Air Création" />
  </div>
</section>

<!-- Timeline Block -->
<section class="timeline-container">
  <div class="timeline-block"></div>
  <div class="timeline-block"></div>
  <div class="timeline-block"></div>
</section>

<!-- Community Block -->
<section>
  <!-- Dernières actualités -->
  <!-- Instagram -->
</section>