<!-- Cover Page -->
<section class="cover-page">
  <div class="text">
    <h1>Innovation</h1>
  </div>
  <div class="image">
    <img src="" alt="" />
  </div>
</section>

<!-- Block Text -->
<section class="columns-text-container innov-page-block-1">
  	<div class="text-block">
      <h2>Productions modernes</h2>
      <p>Depuis toujours, Air Création a mis un point d’honneur à faire progresser ses produits a tel point que les ULM sortant de nos lignes de production n’ont plus grand-chose à voir avec ceux des années 80.</p>
	<p>En effet il y eu de grand chamboulement modifiant drastiquement les caractéristiques de vol mais aussi petit avancé sans oublier les échecs.</p>
	<p>Mais l’innovation dont fait preuve Air Création ne s’arrête pas aux produits développés, elle intervient aussi dans les méthodes de fabrication ou de conception.</p>
	<p>Nous mettons tout en œuvre pour facilité le travail des équipes et en améliorer la qualité dans cet optique nous nous sommes équipés au fil du temps de technologie de plus en plus avancé, et développé des solutions sur mesure.</p>
  </div>
  <div class="text-block">
    <h2>Nos projets en court</h2>
    <p>
      Le E-Pixel, premier ULM à propulsion électrique signé Air Création :
    </p>
    <p>
      Le projet E-Pixel débute en 2017 avec le développement d’un premier prototype d’ULM électrique, freiné par les caractéristiques des batteries et moteur de l’époque (notamment leurs poids et l’autonomie) le projet as mis un certain temps a progressé mais aujourd’hui l’E-Pixel est prêt et sera commercialisé prochainement.
    </p>
  </div>
</section>

<hr />

<!-- Liste des blocks Innovations -->
<section class="innov-page-block-2">
  <h2>Les grandes innovations</h2>
  <!-- Liste Mobile -->
  <!-- Liste Desktop -->
  <div class="innov-container-desktop">
    <article class="innov-block">
      	<img src="" alt="" />
    	<h3>Pose d’amortisseur Oléopneumatique</h3>
    </article>
    <article class="innov-block">
      	<img src="" alt="" />
    	<h3>Intégration de parachute de secours pyrotechnique</h3>
    </article>
    <article class="innov-block">
      	<img src="" alt="" />
    	<h3>Châssis en acier mécano-soudé</h3>
    </article>
    <article class="innov-block">
      	<img src="" alt="" />
    	<h3>Développement par ordinateur</h3>
    </article>
    <article class="innov-block">
      	<img src="" alt="" />
    	<h3>Système Corset</h3>
    </article>
    <article class="innov-block">
      	<img src="" alt="" />
    	<h3>Ailes à pliage rapide</h3>
    </article>
    <article class="innov-block">
      	<img src="" alt="" />
    	<h3>Intégration du 912 iS motorisation a injection</h3>
    </article>
    <article class="innov-block">
      	<img src="" alt="" />
    	<h3>E-Pixel, Appareil à propulsion électrique</h3>
    </article>
    <article class="innov-block">
      	<img src="" alt="" />
    	<h3>Intégration des outils de CAO/DAO</h3>
    </article>
    <article class="innov-block">
      	<img src="" alt="" />
    	<h3>Acquisition des technologies d’impression 3D</h3>
    </article>
    <article class="innov-block">
      	<img src="" alt="" />
    	<h3>Acquisition du traceur découpeur laser</h3>
    </article>
    <article class="innov-block">
      	<img src="" alt="" />
    	<h3>Création de poste de travail en soubassement</h3>
    </article>
  </div>
</section>