<!-- Cover Page -->
<section class="cover-page">
  <div class="text">
    <h1>Innovation</h1>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="" />
  </div>
</section>

<!-- Block Text -->
<section class="info-block-intro-container columns-text-container innov-page-block-1">
  <div class="text-block">
    <h2>Productions modernes</h2>
    <p>Depuis toujours, Air Création a mis un point d’honneur à faire progresser ses produits a tel point que les ULM sortant de nos lignes de production n’ont plus grand-chose à voir avec ceux des années 80.</p>
    <p>En effet il y eu de grand chamboulement modifiant drastiquement les caractéristiques de vol mais aussi petit avancé sans oublier les échecs.</p>
    <p>Mais l’innovation dont fait preuve Air Création ne s’arrête pas aux produits développés, elle intervient aussi dans les méthodes de fabrication ou de conception.</p>
    <p>Nous mettons tout en œuvre pour facilité le travail des équipes et en améliorer la qualité dans cet optique nous nous sommes équipés au fil du temps de technologie de plus en plus avancé, et développé des solutions sur mesure.</p>
  </div>
  <div class="text-block">
    <h2>Nos projets en court</h2>
    <p>
      Le E-Pixel, premier ULM à propulsion électrique signé Air Création :
    </p>
    <p>
      Le projet E-Pixel débute en 2017 avec le développement d’un premier prototype d’ULM électrique, freiné par les caractéristiques des batteries et moteur de l’époque (notamment leurs poids et l’autonomie) le projet as mis un certain temps a progressé mais aujourd’hui l’E-Pixel est prêt et sera commercialisé prochainement.
    </p>
  </div>
</section>

<!-- Pose d’amortisseur Oléopneumatique -->
<section class="info-block-action">
  <div class="text">
    <h2>Pose d’amortisseur Oléopneumatique</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
  	<img src="../uploads/images/pages/innovation/amortisseurs.jpg" alt="Amortisseur Oléopneumatique">
  </div>
</section>

<!-- Intégration de parachute de secours pyrotechnique -->
<section class="info-block-action">
  <div class="text">
    <h2>Intégration de parachute de secours pyrotechnique</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
  	<img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="">
  </div>
</section>

<!-- Châssis en acier mécano-soudé -->
<section class="info-block-action">
  <div class="text">
    <h2>Châssis en acier mécano-soudé</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
  	<img src="../uploads/images/pages/innovation/chassis.jpg" alt="Châssis en acier mécano-soudé">
  </div>
</section>

<!-- Développement par ordinateur -->
<section class="info-block-action">
  <div class="text">
    <h2>Développement par ordinateur</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
  	<img src="../uploads/images/pages/innovation/dev-ordinateur.jpg" alt="Développement par ordinateur">
  </div>
</section>

<!-- Système Corset -->
<section class="info-block-action">
  <div class="text">
    <h2>Système Corset</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
  	<img src="../uploads/images/pages/innovation/corset.jpg" alt="Système Corset">
  </div>
</section>

<!-- Ailes à pliage rapide -->
<section class="info-block-action">
  <div class="text">
    <h2>Ailes à pliage rapide</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
  	<img src="../uploads/images/pages/innovation/ailes.jpg" alt="Ailes à pliage rapide">
  </div>
</section>

<!-- Intégration du 912 iS motorisation a injection  -->
<section class="info-block-action">
  <div class="text">
    <h2>Intégration du 912 iS motorisation a injection</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
  	<img src="../uploads/images/pages/innovation/moteur.jpg" alt="Motorisation a injection 912 iS">
  </div>
</section>

<!-- E-pixel appareil a propulsion électrique -->
<section class="info-block-action">
  <div class="text">
    <h2>E-pixel, appareil a propulsion électrique</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
  	<img src="../uploads/images/pages/innovation/e-pixel.jpg" alt="E-pixel, appareil a propulsion électrique">
  </div>
</section>

<!-- Création de poste de travail en sous-bassement -->
<section class="info-block-action">
  <div class="text">
    <h2>Création de poste de travail en sous-bassement</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
  	<img src="../uploads/images/pages/innovation/poste-de-travail.jpg" alt="Création de poste de travail en sous-bassement">
  </div>
</section>

<!-- Intégration des outils de CAO/DAO -->
<section class="info-block-action">
  <div class="text">
    <h2>Intégration des outils de CAO/DAO</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
  	<img src="../uploads/images/pages/innovation/conception-3d.jpg" alt="Conception 3D">
  </div>
</section>

<!-- Acquisition des technologies d’impression 3D -->
<section class="info-block-action">
  <div class="text">
    <h2>Acquisition des technologies d’impression 3D</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
  	<img src="../uploads/images/pages/innovation/impression-3d.jpg" alt="Impression 3D">
  </div>
</section>

<!-- Acquisition du traceur découpeur laser -->
<section class="info-block-action">
  <div class="text">
    <h2>Acquisition du traceur découpeur laser</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
  	<img src="../uploads/images/pages/innovation/decoupe-laser.jpg" alt="Découpe laser">
  </div>
</section>