<!-- Cover Page -->
<section class="cover-page">
  <div class="text">
    <h1>Innovation</h1>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="" />
  </div>
</section>

<!-- Block Text -->
<section class="info-block-intro-container columns-text-container innov-page-block-1">
  <div class="text-block">
    <h2>Productions modernes</h2>
    <p>Depuis toujours Air création a mis un point d’honneur à faire progresser ses produits à tel point que les ULM sortant de nos lignes de production n’ont plus grand-chose à voir avec ceux des années 80. En effet il y eut de grand chamboulement modifiant drastiquement les caractéristiques de vol mais aussi de petites avancées sans oublier les échecs.</p>
    <p>Mais l’innovation dont fait preuve air création ne s’arrête pas aux produits développés, elle intervient aussi dans les méthodes de fabrication ou de conception. Nous mettons tout en œuvre pour faciliter le travail des équipes et en améliorer la qualité dans cette optique nous nous sommes équipés au fil du temps de technologie de plus en plus avancée, et développé des solutions sur mesure.</p>
  </div>
  <div class="text-block">
    <h2>Nos projets en court</h2>
    <p>
      Le E-Pixel, premier ULM à propulsion électrique signé Air Création :
    </p>
    <p>Le projet E-Pixel débute en 2017 avec le développement d’un premier prototype d’ULM électrique, freiné par les caractéristiques des batteries et moteur de l’époque (notamment leurs poids et l’autonomie) le projet as mis un certain temps a progressé mais aujourd’hui l’E-Pixel est prêt et sera commercialisé prochainement.</p>
  </div>
</section>

<!-- Pose d’amortisseur Oléopneumatique -->
<section class="info-block-action">
  <div class="text">
    <h2>Pose d’amortisseur Oléopneumatique</h2>
    <p>Alors que les premiers ULM ne sont pas amorties, beaucoup d’entre eux s’abiment lors des atterrissages musclés notamment dans les écoles de pilotage, le remplacement des trains d’atterrissage est fréquent à cette époque ci avec la conception du GT-Bi au début des années 90 air création intègres des amortisseur oléopneumatique Fournales sur le train arrière ce qui soulage fortement ces dernier et leurs octrois une durée de vie nettement plus longue.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/amortisseurs.jpg" alt="Amortisseur Oléopneumatique">
  </div>
</section>

<!-- Intégration de parachute de secours pyrotechnique -->
<section class="info-block-action">
  <div class="text">
    <h2>Intégration de parachute de secours pyrotechnique</h2>
    <p>Comme beaucoup de constructeur ULM, dans les années 90 air création adapte ses tricycles de manière a accueillir un parachute de secoure, un système complet fut imaginé pour pouvoir sécurisé l’habitacle complet. En 1993, le constructeur fut le premier à effectuer un test en condition réel, prouvant alors la viabilité et la fiabilité de son système.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/parachute.jpg" alt="">
  </div>
</section>

<!-- Châssis en acier mécano-soudé -->
<section class="info-block-action">
  <div class="text">
    <h2>Châssis en acier mécano-soudé</h2>
    <p>Alors que la plupart des ULM sont constitué d’un assemblage de tubes relié entre eux par des vis ou des rivets, les équipes d’air création développent un châssis soudé réduisant alors le poids et augmentant par la même la résistance structurelle.</p>
    <p>Cette nouvelle avancée permet de réduire les dégâts physiques car cette structure en treillis a une forte capacité à absorber les chocs par déformation. Cette technologie a été développé pour le tanarg et reste encore aujourd’hui la référence chez air création.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/chassis.jpg" alt="Châssis en acier mécano-soudé">
  </div>
</section>

<!-- Développement par ordinateur -->
<section class="info-block-action">
  <div class="text">
    <h2>Développement par ordinateur</h2>
    <p>Pour de nombreux domaines, l’arrivé de l’informatique est une vraie révolution, déjà utilisé pour la conception de la gamme GTE aux débuts des année 90, c’est dans les années 2000 que cet outil permet à air creation de concevoir le Tanarg, premier tricycle entièrement dessiné par ordinateur, optimisant alors l’ergonomie et l’aérodynamise.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/dev-ordinateur.jpg" alt="Développement par ordinateur">
  </div>
</section>

<!-- Système Corset -->
<section class="info-block-action">
  <div class="text">
    <h2>Système Corset</h2>
    <p>Développé à la fin des années 2000, l’apparition des ailes à géométrie variable et une vraie révolution de l’ULM pendulaire, la technologie Corset inventé par Gilles BRU ouvre alors aux pilotes un tout nouveau domaine de vol. La course à la performance a conduit à la généralisation des systèmes de trim qui permettent de faire varier la vitesse de croisière en vol.</p>
    <p>La réaction du roulis des ailes à voilure souple est proportionnelle à leur vitesse de vol, rendant l’aile peu maniable à basse vitesse et au contraire trop sensible à haute vitesse. Cela implique que les ailes rapides de conception classique ce révèle incapables d’effectuer des approches lentes et par conséquent de se poser court en condition turbulentes.</p>
    <p>Le système Corset breveté par air creation est la réponse à cette problématique. Il allie une grande simplicité de réalisation et de mise en œuvre à une remarquable efficacité. Permettant d’à la fois de modifier la vitesse de croisière mais dans le même temps d’adapté la géométrie de l’aile a cette nouvelle plage de vitesse. En agissant sur le lobe, le vrillage et le profil central de l’aile, celle-ci se déforme à la manière des oiseaux.</p>
    <p>La commande du corset est aussi simple d’utilisation qu’un trim conventionnel mais agissant sur les tenions pour venir contrôler ses formes de la quille au bout de plumes à l’aide d’un palan relié à une manette d’enroulement conique qui linéarise les efforts.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/corset.jpg" alt="Système Corset">
  </div>
</section>

<!-- Ailes à pliage rapide -->
<section class="info-block-action">
  <div class="text">
    <h2>Ailes à pliage rapide</h2>
    <p>Avec la conception d’ailes D.S.T.E. (Double Surface à Transversale Externes) et équipé de haubans rigides, air création as développé le système Short Pack, système destiner à simplifier les opérations de montage démontage de l’aile. Ce système permet à une personne seule de replier l’aile sur le tricycle en seulement quelques minutes. Une option simple et économique pour éviter les soucis de parking.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/ailes.jpg" alt="Ailes à pliage rapide">
  </div>
</section>

<!-- Intégration du 912 iS motorisation a injection  -->
<section class="info-block-action">
  <div class="text">
    <h2>Intégration du 912 iS motorisation a injection</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/moteur.jpg" alt="Motorisation a injection 912 iS">
  </div>
</section>

<!-- E-pixel appareil a propulsion électrique -->
<section class="info-block-action">
  <div class="text">
    <h2>E-pixel, appareil a propulsion électrique</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
    <video autoplay loop muted>
      <source src="../uploads/videos/e-pixel.mp4" type="video/mp4">
      <p>Votre navigateur ne prend pas en charge les vidéos HTML5.<br />
        <a href="../uploads/videos/e-pixel.mp4">Voici un lien pour télécharger la vidéo</a>.</p>
    </video>
  </div>
</section>

<!-- Création de poste de travail en sous-bassement -->
<section class="info-block-action">
  <div class="text">
    <h2>Création de poste de travail en sous-bassement</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/poste-de-travail.jpg" alt="Création de poste de travail en sous-bassement">
  </div>
</section>

<!-- Intégration des outils de CAO/DAO -->
<section class="info-block-action">
  <div class="text">
    <h2>Intégration des outils de CAO/DAO</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/conception-3d.jpg" alt="Conception 3D">
  </div>
</section>

<!-- Acquisition des technologies d’impression 3D -->
<section class="info-block-action">
  <div class="text">
    <h2>Acquisition des technologies d’impression 3D</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/impression-3d.jpg" alt="Impression 3D">
  </div>
</section>

<!-- Acquisition du traceur découpeur laser -->
<section class="info-block-action">
  <div class="text">
    <h2>Acquisition du traceur découpeur laser</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sagittis varius finibus. Phasellus a justo sit amet lectus semper mattis. Mauris nec sagittis nulla. Nunc interdum et eros non commodo. Etiam quis ex imperdiet, lacinia mi a, ullamcorper libero. Vestibulum feugiat risus lectus, luctus laoreet orci rhoncus vitae. Suspendisse in quam odio. Vestibulum nec semper massa. Vivamus non elit vitae est maximus congue. Pellentesque dictum cursus velit sed vestibulum. Sed lacus ipsum, bibendum nec pellentesque a, rutrum quis felis.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/decoupe-laser.jpg" alt="Découpe laser">
  </div>
</section>