<!-- Cover Page -->
<section class="cover-page">
  <div class="text">
    <h1>Innovation</h1>
  </div>
  <div class="image">
    <img src="" alt="" />
  </div>
</section>

<!-- Block Text -->
<section class="text-columns-2">
	<p>Depuis toujours, Air Création a mis un point d’honneur à faire progresser ses produits a tel point que les ULM sortant de nos lignes de production n’ont plus grand-chose à voir avec ceux des années 80.</p>
	<p>En effet il y eu de grand chamboulement modifiant drastiquement les caractéristiques de vol mais aussi petit avancé sans oublier les échecs.</p>
	<p>Mais l’innovation dont fait preuve Air Création ne s’arrête pas aux produits développés, elle intervient aussi dans les méthodes de fabrication ou de conception.</p>
	<p>Nous mettons tout en œuvre pour facilité le travail des équipes et en améliorer la qualité dans cet optique nous nous sommes équipés au fil du temps de technologie de plus en plus avancé, et développé des solutions sur mesure.</p>
</section>

<hr />

<!-- Liste des blocks Innovations -->
<section>
  <h2>Les grandes innovations</h2>
  <div class="innov-container">
    <article class="innov-block">
    	<h3></h3>
    </article>
    <article class="innov-block">
    	<h3></h3>
    </article>
    <article class="innov-block">
    	<h3></h3>
    </article>
    <article class="innov-block">
    	<h3></h3>
    </article>
    <article class="innov-block">
    	<h3></h3>
    </article>
    <article class="innov-block">
    	<h3></h3>
    </article>
    <article class="innov-block">
    	<h3></h3>
    </article>
    <article class="innov-block">
    	<h3></h3>
    </article>
    <article class="innov-block">
    	<h3></h3>
    </article>
    <article class="innov-block">
    	<h3></h3>
    </article>
    <article class="innov-block">
    	<h3></h3>
    </article>
    <article class="innov-block">
    	<h3></h3>
    </article>
    <article class="innov-block">
    	<h3></h3>
    </article>
  </div>
</section>