<!-- Cover Page -->
<div class="cover-page">
  
</div>

<!-- Fonctions filtrage -->
<div class="filters">
  
</div>

<!-- Liste des produits -->
<section class="products-list">
  <h1>Produits</h1>
  <div class="products-list-container">
    <article class="product-block"></article>
  </div>
</section>