<!-- Cover Page -->
<div class="cover-page">
  
</div>

<!-- Fonctions filtrage -->
<div class="filters">
  
</div>

<!-- Liste des produits -->
<section class="products-list">
  <h1>Produits</h1>
  <div class="products-list-container">
    {% for product in products %}
    <article class="product-block">
    	<h2>{{ product.productname }}</h2>
    </article>
    {% endfor %}
  </div>
</section>