<!-- Cover Block -->
<section class="cover-page">
  <div class="text">
    <h1>Nos valeurs</h1>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/valeurs/bg-page.jpg" alt="" />
  </div>
</section>

<!-- Intro Block -->
<section class="info-block-intro-container">
  <div class="info-block-intro">
    <p>Notre mission a toujours été de transformer l’aviation légère, pour la préparer aux nouveaux défis à venir et lui permettre d’entrée dans une nouvelle ère tout en conservant l’essence même de l’ULM pendulaire, plaisir et simplicité.</p>
    <p>Nos valeurs s’articulent autour de cinq axes directeurs</p>
  </div>
</section>

<!-- Icons List -->
<div class="icons-container">
  <!-- Block -->
  <section class="icons-block">
    <i class="fa-solid fa-paper-plane fa-5x"></i>
    <h2>La passion du vol</h2>
    <p>On ne choisit pas l’ULM par hasard, comme pour tout engins volants que ce soit pour le plaisir on professionnellement c’est avant tout un rêve d’enfant. Qui n’as jamais rêvé de côtoyer les nuages tel un oiseau ? c’est bien de cette idée que sont née les premiers ULM air création.</p>
  </section>
  <!-- End Block -->
  <!-- Block -->
  <section class="icons-block">
    <i class="fa-solid fa-pen-ruler fa-5x"></i>
    <h2>L’innovation constante de nos ULM et méthode de travail</h2>
    <p>Depuis toujours Air création a mis un point d’honneur à faire progresser ses produits a tel points que les ULM sortant de nos lignes de production n’ont plus grand-chose à voir avec ceux des années 80. Mais l’innovation dont fait preuve air création ne s’arrête pas aux produits développés, elle intervient aussi dans les méthodes de fabrication ou de conception.</p>
  </section>
  <!-- End Block -->
  <!-- Block -->
  <section class="icons-block">
    <i class="fa-solid fa-wrench fa-5x"></i>
    <h2>La durabilité de nos appareils et nos équipes</h2>
    <p>Choisir air création, c’est choisir un environnement durable, robuste et fiable les ULM air création résiste au temps. On en veut pour preuve que certains appareils de plus de 30 ans sont encore entretenus dans notre réseau. Comme pour nos produits vos interlocuteurs restent les mêmes. Notre équipe est principalement constituée de CDI qui sont pour la plupart présent à vos côtés depuis de nombreuses années.</p>
  </section>
  <!-- End Block -->
  <!-- Block -->
  <section class="icons-block">
    <i class="fa-solid fa-shield fa-5x"></i>
    <h2>La sécurité de tous</h2>
    <p>Soucieux de rendre le vol plus surs Air création as mis en place des procédure, règles et innovation dans ce sens. Nos ULM sont tous exclusivement équipé de moteur aéronautique, et sont testé de manière à s’assurer de leurs bons fonctionnements. Nos options de parachute permettent d’ajouter une nouvelle barrière aux accidents. De l’installation de d’amortisseur oléopneumatique dans les années 80 au design des sièges en passant par les systèmes/châssis d’absorption des chocs, tout est mis en œuvre pour réduire les blessures en cas de crash.</p>
  </section>
  <!-- End Block -->
  <!-- Block -->
  <section class="icons-block">
    <i class="fa-solid fa-star fa-5x"></i>
    <h2>Une qualité de tout instant</h2>
    <p>Du service au produits nous avons à cœur d’offrir la meilleure qualité a nous clients, un service sur mesure adapté a chacun de la conception du projet jusqu’à la fin de vie de la machine vous serai épaulé par les équipes d’air création. Couplé à des produits hauts de gamme aux finitions toujours plus poussé les ULM air création sont bien plus que de simples engins volants ils sont de véritables bijoux de perfection.</p>
  </section>
  <!-- End Block -->
</div>