<!-- Cover Block -->
<section class="cover-page">
  <div class="text">
    <h1>Nos options</h1>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/valeurs/bg-page.jpg" alt="" />
  </div>
</section>

<!-- Intro Block -->
<section class="info-block-intro-container">
  <div class="info-block-intro">
    <p>Du tableau de bord à l’hélice !<br />
      Retrouvez toutes nos options !</p>
  </div>
</section>

<!-- Options Container -->
<section class="options-container">
  <!-- Options Blocks -->
  <div class="options-blocks tabs">
    <!-- Option Item -->
    <figure class="option-item tanarg">
      <img src="../uploads/images/pages/options/tanarg.jpg" alt="" />
      <article class="title">
        <a class="tab active">Tanarg</a>
      </article>
    </figure>
    <!-- Option Item -->
    <figure class="option-item skypper">
      <img src="../uploads/images/pages/options/skypper.jpg" alt="" />
      <article class="title">
        <a class="tab">Skypper</a>
      </article>
    </figure>
    <!-- Option Item -->
    <figure class="option-item pixel">
      <img src="../uploads/images/pages/options/pixel.jpg" alt="" />
      <article class="title">
        <a class="tab">Pixel</a>
      </article>
    </figure>
    <!-- Option Item -->
    <figure class="option-item pixel">
      <img src="../uploads/images/pages/options/pixel.jpg" alt="" />
      <article class="title">
        <a class="tab">Divers</a>
      </article>
    </figure>
  </div>

  <!-- Container Products -->
  <div class="container-products tab-panes">
    <div class="content-products tab-pane active">
      <!-- Tanarg Neo -->
      <section class="options-block">
        <figure class="image">
          <img src="../uploads/images/pages/options/tanarg.jpg" alt="" />
        </figure>
        <div class="text">
          <h2>Tanarg Néo</h2>
          <ul>
            <li>Les helices : Hélice Neuform IP CL3-65 / Hélice Duc Flash-2</li>
            <li>Tableau de bord : Vintage / Blaze / Xtreme / MX-1 / Explorer Lite</li>
            <li>Support tablette</li>
            <li>Parachute de secours</li>
            <li>Instrument : MGL / Blaze ASV-2 / Intercom / Alternat spiral velcro</li>
            <li>Communication : Noise killer / Adaptateur Bluetooth / Cablage Icom A25 / Radio Icom A25 / Radio TQ KRT2 / Transpondeur TQ KTX2S-V2</li>
            <li>Pour l’instruction : Poignées de trapèze / Double commande direction et gaz</li>
            <li>Transport : Remorque / Housse / Support d’aile</li>
            <li>Harnais de fixation 4 points</li>
            <li>Feux de navigation Hermes</li>
            <li>Système de remorquage</li>
          </ul>
        </div>
      </section>
    </div>
    <div class="content-products tab-pane">
      <!-- Skypper Evo -->
      <section class="options-block">
        <figure class="image">
          <img src="../uploads/images/pages/options/skypper.jpg" alt="" />
        </figure>
        <div class="text">
          <h2>Skypper Evo</h2>
          <ul>
            <li>Les helices : Hélice HELIX blindé / Hélice Neuform IP CL3-65 / Hélice Neuform TXL3-65 / Hélice Duc Flash-2</li>
            <li>Carénage Coque</li>
            <li>Tableau de bord : Standard / Blaze / Xtreme / MX-1</li>
            <li>Support tablette</li>
            <li>Parachute de secours</li>
            <li>Instrument : MGL / Blaze ASV-2 / Intercom / Alternat spiral velcro</li>
            <li>Communication : Noise killer / Adaptateur Bluetooth / Cablage Icom A25 / Radio Icom A25 / Radio TQ KRT2 / Transpondeur TQ KTX2S-V2</li>
            <li>Pour l’instruction : Poignées de trapèze / Double commande direction et gaz</li>
            <li>Transport : Remorque / Housse / Support d’aile</li>
            <li>Harnais de fixation 4 points</li>
            <li>Feux de navigation Hermes</li>
            <li>Système de remorquage</li>
          </ul>
        </div>
      </section>
      <!-- Skypper Bush -->
      <section class="options-block">
        <figure class="image">
          <img src="../uploads/images/pages/options/skypper.jpg" alt="" />
        </figure>
        <div class="text">
          <h2>Skypper Bush</h2>
          <ul>
            <li>Les helices : hélice HELIX blindé / Hélice Neuform IP CL3-65 / Hélice Neuform TXL3-65 </li>
            <li>Carénage Coque</li>
            <li>Tableau de bord : Standard / Blaze / Xtreme / MX-1.</li>
            <li>Support tablette</li>
            <li>Parachute de secours</li>
            <li>Instrument : MGL / Blaze ASV-2 / Intercom / Alternat spiral velcro</li>
            <li>Communication : Noise killer / Adaptateur Bluetooth / Cablage Icom A25 / Radio Icom A25 / Radio TQ KRT2 / Transpondeur TQ KTX2S-V2</li>
            <li>Pour l’instruction : Poignées de trapèze / Double commande direction et gaz</li>
            <li>Transport : Remorque / Housse / Support d’aile</li>
            <li>Harnais de fixation 4 points</li>
            <li>Feux de navigation Hermes</li>
            <li>Système de remorquage</li>
          </ul>
        </div>
      </section>
    </div>
    <div class="content-products tab-pane">
      <!-- Skypper Evo -->
      <section class="options-block">
        <figure class="image">
          <img src="../uploads/images/pages/options/pixel.jpg" alt="" />
        </figure>
        <div class="text">
          <h2>Pixel</h2>
          <ul>
            <li>Les helices : hélice e-Props réglable</li>
            <li>Parachute de secours</li>
            <li>Instrument : MGL / Blaze ASV-2 / Intercom / Alternat spiral velcro. </li>
            <li>Communication : Noise killer / Adaptateur Bluetooth / Cablage Icom A25 / Radio Icom A25.</li>
            <li>Transport : Remorque / Housse / supprt d’aile</li>
          </ul>
        </div>
      </section>
    </div>
    <div class="content-products tab-pane">
      <!-- Harnais -->
      <section class="options-block">
        <figure class="image">
          <img src="../uploads/images/pages/options/tanarg.jpg" alt="" />
        </figure>
        <div class="text">
          <h2>Harnais</h2>
        </div>
      </section>
      <!-- Feux de navigation -->
      <section class="options-block">
        <figure class="image">
          <img src="../uploads/images/pages/options/tanarg.jpg" alt="" />
        </figure>
        <div class="text">
          <h2>Feux de navigation</h2>
        </div>
      </section>
      <!-- Système remorquage -->
      <section class="options-block">
        <figure class="image">
          <img src="../uploads/images/pages/options/tanarg.jpg" alt="" />
        </figure>
        <div class="text">
          <h2>Système remorquage</h2>
        </div>
      </section>
    </div>
  </div>
</section>