<!-- Cover Page -->
<section class="cover-page">
  <div class="text">
    <h1>Notre histoire</h1>
  </div>
  <div class="image"></div>
</section>

<section class="info-equipe">
  <!-- Block 1 -->
  <div class="info-equipe-block">
    <figure class="image"></figure>
    <div class="text">
      <h2>Jean-Luc</h2>
    </div>
  </div>
  <!-- Block 2 -->
  <div class="info-equipe-block">
    <figure class="image"></figure>
    <div class="text">
      <h2>Cardon</h2>
    </div>
  </div>
  <!-- Block 3 -->
  <div class="info-equipe-block">
    <figure class="image"></figure>
    <div class="text">
      <h2>Pottard</h2>
    </div>
  </div>
</section>

<section class="info-gerant">
  <figure class="image"></figure>
  <div class="text">
	<h2>Antoine Demellier</h2>
  </div>
</section>