<!-- Cover Page -->
<section class="cover-page">
  <div class="text">
    <h1>Qui sommes nous ?</h1>
  </div>
  <div class="image"></div>
</section>

<!-- Block Text 1 -->
<section class="columns-text-container about-intro-block">
  <div class="text-block">
    <p>Air création est un acteur majeur de conception et de fabrication d'aéronefs français. Installé en Ardèche depuis 1982 le leader mondial de l’ULM Pendulaires (deltaplanes motorisés - DPM) n'a cessé de faire progresser ses produits afin d'optimiser confort & performance de vol.</p>
    <p> La passion qui anime encore ses fondateurs Jean-Yves LE BIHAN & Gilles BRU est à l’origine d’une progression remarquable propulsant le petit atelier à l’usine de production en seulement quelques années.</p>
    <p>Les deux pilotes ont su s’entourer d’une équipe à la fois brillante, compétente, forte et fidèle qui est restée soudée et motivée en toutes circonstances et avec qui ils ont pu révolutionner l’ultraléger Motorisé d’aujourd’hui et de demain.</p>
  </div>
  <div class="text-block">
    <p>Les 40 années de savoir-faire et d'expérience des équipes associée à l'utilisation de technologies de pointe ont permis de créer des aéronefs toujours plus performants, plus fiables, plus confortables, en plus économiques.</p>
    <p>L'importante gamme d'ailes et de tricycles proposée par le constructeur Ardéchois permet d'offrir à chaque client une combinaison parfaitement adapté à ses besoins, que ce soit dans un but purement récréatif ou à titre professionnel (formation, baptêmes, photographie, surveillance, largage de parachutiste, expérimentation scientifique, compétition, …).</p>
    <p>L’entreprise de 22 salariés produit la majeure partie des pièces composant ses ULM dans l’usine de Lanas (07) et continu aujourd’hui son expansion en s’ouvrant à de nouvelles activités.</p>
  </div>
</section>

<!-- Block Specials Points -->
<section class="about-points">
  <div class="about-point-block">
    <i class="fa-solid fa-3x fa-earth-europe"></i>
    <h2>Présent dans ??? pays</h2>
  </div>
  <div class="about-point-block">
    <i class="fa-solid fa-3x fa-bicycle"></i>
    <h2>4500 tricycles vendus</h2>
  </div>
  <div class="about-point-block">
    <i class="fa-solid fa-3x fa-paper-plane"></i>
    <h2>8000 ailes produites</h2>
  </div>
  <div class="about-point-block">
    <i class="fa-solid fa-3x fa-industry"></i>
    <h2>40 années d'expertises</h2>
  </div>
</section>

<section class="info-block-intro-container">
  <div class="info-block-intro">
    <h2>Un savoir-faire</h2>
    <p>Air création est fier des compétences de l’ensemble de son équipe. Loin d’être un simple assembleur, De l’aile au tricycle tout est conçu « maison ». La formation rigoureuse suivie par chacun et chacune au sein de notre entreprise permet d’obtenir une qualité d’excellence ainsi qu’un niveau d’expertise inégalé.</p>
    <p>Ce savoir-faire se divise en plusieurs pôles</p>
  </div>

</section>

<!-- Block Ingénierie et Bureaux d'études -->
<section class="info-block-action">
  <div class="text">
    <h2>Ingénierie et bureau d’études</h2>
    <p>Supervisé par Gilles BRU et dirigé par Stéphane CHAUSSE le pôle R&D permet non seulement à air création d’inventer l’ULM de demain mais aussi d’effectuer un travail permanent d’amélioration de ses produits. Équipé de logiciel dernier cri en CAO/DAO et d’outils d’impression 3D le bureau d’études est plus performant que jamais dans sa tâche de prototypage.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="" />
  </div>
</section>

<!-- Block Voilerie -->
<section class="info-block-action">
  <div class="text">
    <h2>La voilerie / sellerie</h2>
    <p>La voilerie pratique les opérations de découpe/couture nécessaire à la confection des voiles mais aussi des sièges, sangles, coffres, … Des ULM pendulaires air création. Équipé d’un parc de 8 machines à coudres industrielles, d’un Automate de découpe, ainsi que d’un traceur-découpeur laser de 7.2m x 2.5m permettant une rapidité d’exécution et une précision inégalée.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="" />
  </div>
</section>

<!-- Block Soudure -->
<section class="info-block-action">
  <div class="text">
    <h2>La soudure</h2>
    <p>Le châssis Mécano-soudé s’est vite imposé comme une des spécialités d’air création. L’équipe de soudure est en charge d’une grande partie des pièces structurelles métallique, préalablement découpées par des lasers tubes et tôles, qu’elles soient en acier, en inox ou en aluminium. Les soudures pratiquées (TIG/MIG) de qualité aéronautique, sont à la fois esthétiques et très robustes. </p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="" />
  </div>
</section>

<!-- Block Mécanique tricycle -->
<section class="info-block-action">
  <div class="text">
    <h2>La Mécanique Tricycle</h2>
    <p>Le tricycle se déplace sur la ligne de production et passe entre les mains de cette équipe multidisciplinaire qui vient assembler le châssis et l’étoffer de toutes les pièces nécessaires à sa transformation, train d’atterrissage, moteur, sellerie, électronique, hélice, carénages…</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="" />
  </div>
</section>

<!-- Block Mécanique ailes -->
<section class="info-block-action">
  <div class="text">
    <h2>La Mécanique Ailes</h2>
    <p>Une équipe spécialisée a pour mission de fabriquer et d’assembler la structure de l’aile, composé de tubes en aluminium, de câbles et d’accastillages. Ils ont aussi la tâche d’enfiler la voile sur cette structure complexe. Après quoi ils effectuent les derniers réglages en collaboration avec les pilotes d’essai pour que les ailes air création volent parfaitement.</p>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/innovation/photo-test.jpeg" alt="" />
  </div>
</section>