<!-- Cover Page -->
<section class="cover-page">
  <div class="text">
    <h1>Sous-Traitance</h1>
  </div>
  <div class="image">
    <img src="../uploads/images/pages/sous-traitance/bg-page.jpg" alt="" />
  </div>
</section>

<!-- Block Intro -->
<section class="info-block-intro-container">
  <div class="info-block-intro">
    <p>Profité du savoir-faire Aéronautique pour toute vous opérations !!</p>
    <p>Depuis quelque année Air Création a ouvert ses ateliers à bon nombre d’activités de sous-traitance, 
Le savoir-faire de nos équipes dans l’aéronautique et nos technologies avancées nous permettent de produire des pièces de très hautes qualités pour les secteurs notamment de l’automobile ou de l’habillement.</p>
  </div>
</section>

<section class="info-block-action">
  <div class="text">
    <h2 data-aos="fade-up">Découpe textile</h2>
    <p data-aos="fade-up">Assisté de notre Traceur – Découpeur laser Aéronaut notre équipe pratique des opérations de découpe sur matière souple.</p>
  </div>
  <div class="image" data-aos="reveal-left">
  	<img src="../uploads/images/pages/sous-traitance/tissu.jpg" alt="" />
  </div>
</section>

<section class="info-block-action">
  <div class="text">
    <h2 data-aos="fade-up">Couture</h2>
    <p data-aos="fade-up">L’expérience des couturières d’air création n’est plus à prouver dans le monde de l’ULM, leurs compétences peuvent désormais être mises à contribution pour tous types de produits textiles</p>
  </div>
  <div class="image" data-aos="reveal-right">
  	<img src="../uploads/images/pages/sous-traitance/couture.jpg" alt="" />
  </div>
</section>

<section class="info-block-action">
  <div class="text">
    <h2 data-aos="fade-up">Soudure</h2>
    <p data-aos="fade-up">Air Création possède un pôle soudure performant, capable de produire un travail d’excellence sur inox comme sur aluminium.</p>
  </div>
  <div class="image" data-aos="reveal-left">
  	<img src="../uploads/images/pages/sous-traitance/soudure.jpg" alt="" />
  </div>
</section>

<section class="info-block-action">
  <div class="text">
    <h2 data-aos="fade-up">Impression 3D</h2>
    <p data-aos="fade-up">Réalisation de prototypes et de petite série de pièces plastique. Notre pole R&D s’occupe de tout de l’étude 3D au prototypage en passant par la préparation et la digitalisation. Confiez-nous vos projets d’impression 3D.</p>
  </div>
  <div class="image" data-aos="reveal-right">
  	<img src="../uploads/images/pages/sous-traitance/impression-3d.jpg" alt="" />
  </div>
</section>