<!-- Cover Page -->
<section class="cover-page">
  <div class="text">
    <h1>Service sur-mesure</h1>
  </div>
  <figure class="image">
  	<img src="../uploads/images/pages/sur-mesure/bg-page.jpg" alt="">
  </figure>
</section>

<!-- Block Intro -->
<section class="info-block-intro-container">
  <div class="info-block-intro">
    <p>Laissez libre cours à votre imagination !</p>
  </div>
</section>

<!-- Ailes -->
<section class="info-block-action">
  <div class="text">
    <h2 data-aos="fade-up">Les ailes</h2>
    <!-- Intrados personnalisé -->
    <p data-aos="fade-up">
      <strong>Intrados personnalisé</strong><br />
      Créer vos propres motifs, Grâce à un grand choix de couleur sur nos tissus et tissus adhésivé, nous pouvons décorer l’intrados de votre aile. Soumis à des contraintes géométriques (découpe et pose) vos plans de réalisation sont validés après consultation de notre service technique.
    </p>
    <!-- Marquage publicitaire -->
    <p data-aos="fade-up">
      <strong>Marquage publicitaire</strong><br />
      Offrez une visibilité hors norme à vos partenaires ! La surface qu’offre une aile d’ULM pendulaire est un support parfait pour y afficher logos et marquages publicitaires. Grâce à nos outils de production high-tech et tissus adhésifs spécifiques nous trouverons la solution parfaite pour votre publicité. Notre bureau service d’infographie pourra vous assister dans la conception et la réalisation de votre projet.
    </p>
  </div>
  <figure class="image" data-aos="reveal-left">
  	<img src="../uploads/images/pages/sur-mesure/ailes.jpg" alt="">
  </figure>
</section>

<!-- Tricycles -->
<section class="info-block-action">
  <div class="text">
    <h2 data-aos="fade-up">Les tricycles</h2>
    <!-- Intrados personnalisé -->
    <p data-aos="fade-up">
      Unis ou as motifs, nos solutions de peintures et de covering permettent de créer des ULM à l’image de leurs pilotes !
    </p>
    <p data-aos="fade-up">
      De nombreux designs sont possibles, votre projet sera validé après étude de notre service technique.
    </p>
  </div>
  <figure class="image" data-aos="reveal-right">
  	<img src="../uploads/images/pages/sur-mesure/tricycle.jpg" alt="">
  </figure>
</section>