input{
    &[type=text],
    &[type=tel],
    &[type=email]{
        width: 100%;
        padding: .5rem;
    }
}

select{
    padding: .5rem;
}

textarea{
    width: 100%;
    padding: .5rem;
    height: 100px;
}