{% extends 'admin.html.twig' %}

{% block title %}Gestionnaire des médias{% endblock %}

{% block body %}
<section class="block">
<<<<<<< HEAD
        <h2>Modifier le pied de page du site</h2>
        <iframe id="inlineFrameExample"
            width="100%"
            height="400"
            src="/manager/?conf=default">
        </iframe>
=======
        <h2>Gestionnaire des médias</h2>
        <iframe src="/elfinder" width="100%" height="600" title="Gestionnaire des medias"></iframe>
>>>>>>> 1a15b9c39befc6b3acd191ed526c9da49bb6664b
    </section>
{% endblock %}
