@mixin fontFace($fontWeight, $fontFamily, $fontStyle: normal) {
    @font-face {
        font-family: $font;
        font-style: $fontStyle;
        font-weight: $fontWeight;
        src: url('../../../../public/uploads/fonts/roboto/' + $fontFamily + '.eot');/* IE9 Compat Modes */
        src: url('../../../../public/uploads/fonts/roboto/' + $fontFamily + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../../../../public/uploads/fonts/roboto/' + $fontFamily + '.woff2') format('woff2'), /* Super Modern Browsers */
             url('../../../../public/uploads/fonts/roboto/' + $fontFamily + '.woff') format('woff'), /* Pretty Modern Browsers */
             url('../../../../public/uploads/fonts/roboto/' + $fontFamily + '.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../../../../public/uploads/fonts/roboto/' + $fontFamily + '.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
}

@mixin fontFaceTitle($fontWeight, $fontFamily, $fontStyle: normal) {
    @font-face {
        font-family: $font-title;
        font-style: $fontStyle;
        font-weight: $fontWeight;
        src: url('../../../../public/uploads/fonts/roboto-condensed/' + $fontFamily + '.eot');/* IE9 Compat Modes */
        src: url('../../../../public/uploads/fonts/roboto-condensed/' + $fontFamily + '.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
             url('../../../../public/uploads/fonts/roboto-condensed/' + $fontFamily + '.woff2') format('woff2'), /* Super Modern Browsers */
             url('../../../../public/uploads/fonts/roboto-condensed/' + $fontFamily + '.woff') format('woff'), /* Pretty Modern Browsers */
             url('../../../../public/uploads/fonts/roboto-condensed/' + $fontFamily + '.ttf')  format('truetype'), /* Safari, Android, iOS */
             url('../../../../public/uploads/fonts/roboto-condensed/' + $fontFamily + '.svg#svgFontName') format('svg'); /* Legacy iOS */
    }
}