{% extends 'base.html.twig' %}

{% block title %}Hello WebPagesOthersController!{% endblock %}

{% block body %}
    <div id="swup">
        {% include "webpages/common_blocks/header.html.twig" %}
        <main>
            {% include "webpages/pages/accueil.html.twig" %}
        </main>
        {% include "webpages/common_blocks/footer.html.twig" %}
    </div>
{% endblock %}
