<p>La saison est lanc&eacute;e !</p>

<p>Air Cr&eacute;ation vous donne rendez-vous :<br />
&gt; Sur le Rallye RASAD (2-3 juillet 2021)<br />
&gt; Sur le Salon ULM de BLOIS pour pr&eacute;sentation des nouveaut&eacute;s ! (3-4-5 sept 2021)<br />
&gt; Sur la Coupe Icare Saint Hilaire du Touvet (12-19 sept 2021)</p>

<p>On vous attend !</p>