.cover-image{
    position: relative;
    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.cover-4-3{
    @extend .cover-image;
    padding-top: 75%;
}

.cover-3-4{
    @extend .cover-image;
    padding-top: 175%;
}

.center{
    text-align: center;
}

.img-center{
    display: block;
    margin: auto;
}

.toggle-contact{
    cursor: pointer;
}

.form-container{
    max-width: 1200px;
    margin: $marges-d-y auto;
    padding: $marges-m;
    h1{
        font-weight: 400;
    }
    @media screen and (min-width: 1200px) {
        h1{
            font-size: 2.5rem;
        }
    }
}

.rgpd-alert{
    font-size: .85em;
    display: block;
    margin-top: 1em;
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active{
    background: $p-color;
}