*{
    box-sizing: border-box;
}

body{
    margin: 0 0 $navbar-ht;
    font-family: $font;
    font-weight: 300;
    line-height: 1.75em;
}

figure{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

p{
    margin-top: 0;
    margin-bottom: 1em;
    &:last-child{
        margin-bottom: 0;
    }
}