*{
    box-sizing: border-box;
}

body{
    padding: 3rem;
    font: 300 1em/1.5em $font;
    &.admin-page{
        margin: 0 0 0 $nav-width;
    }
}

.float-right{
    float: right;
}

hr{
    margin: 2rem 0;
}