.cover-page{
    height: 15rem;
    position: relative;
    .text, .image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .text{
        z-index: 3;
        background-color: rgba($color: #000000, $alpha: .7);
        display: flex;
        justify-content: start;
        align-items: center;
        padding: $marges-m;
        h1{
            margin: 0;
            color: white;
            font-size: 2.5em;
            font-weight: 200;
        }
    }
    .image{
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    @media screen and (min-width: 768px) {
        height: 20rem;
    }
    @media screen and (min-width: 1200px) {
        height: 25rem;
        .text{
            padding: $marges-d-y $marges-d-x;
        }
    }
}

.cover-page-full{
    height: 100vh;
    position: relative;
    .text, .image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .text{
        z-index: 3;
        background-color: rgba($color: #000000, $alpha: .7);
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 80%;
            width: 600px;
            height: auto;
        }
    }
    .image{
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}