<p><strong>&laquo; China Microlight Aircraft Club League Matches &raquo; Organisation 2021</strong></p>

<p>Toute l&rsquo;&eacute;quipe d&rsquo;Air Creation est heureuse et f&eacute;licite que tous les produits d&rsquo;Air Creation aient pass&eacute; un examen minutieux et aient termin&eacute; l&rsquo;enregistrement et l&rsquo;enregistrement &agrave; l&rsquo;ASFC.</p>

<p><span dir="ltr" lang="fr-FR">Nous souhaitons que les &laquo;China Microlight Aircraft Club League Matches&raquo;, organis&eacute;s par l&rsquo;ASFC (a&eacute;roclub de Chine) se d&eacute;roulent avec succ&egrave;s pour cette &eacute;dition 2021.</span><span dir="ltr" lang="fr-FR"> Merci beaucoup pour le grand int&eacute;r&ecirc;t des pilotes chinois pour les produits et ULM d&rsquo;Air Creation, merci pour le grand soutien de l&rsquo;ASFC sans qui rien ne serait possible.</span><span dir="ltr" lang="fr-FR"> Profitez, amusez-vous bien et voler en toute s&eacute;curit&eacute; lors de cet &eacute;v&eacute;nement incroyable. Bravo !</span></p>

<p><span dir="ltr" lang="fr-FR">l&rsquo;Equipe Air Creation&nbsp;</span></p>