<<<<<<< HEAD
// FONTS
$font: "Roboto";
$font-title: "RobotoCondensed";

// COLORS
$p-color-d: #b41a19; // Rouge dark
$p-color: #cc1a1a; // Rouge
$p-color-l: #e6213c; // Rouge light
$s-color: #38b54a; // Vert
$grey-color: #3c3c3b; // Gris
$bw-color-1: #ffffff; // Couleur Noir et Blanc 1
$bw-color-2: #dadada; // Couleur Noir et Blanc 2
$bw-color-3: #b2b2b2; // Couleur Noir et Blanc 3
$bw-color-4: #706f6f; // Couleur Noir et Blanc 4
$bw-color-5: #000000; // Couleur Noir et Blanc 5

// MARGES
$marges-m: 2rem;
$marges-d-x: 6.944vw;
$marges-d-y: 6.25rem;
$marges-nav-m: 2.5rem;

// SIZES
$navbar-ht: 3.125rem;
$header-ht: 4.5rem;

// FONT SIZES
$header-font: 1.2em;

// ANIMS
$anims-duration: .25s;
=======
$scrollTime: .2s;

// GRID
$grid-size: 12;
$padding-col: 1rem;

// MARGES
$marge-m: 2rem;
$marge-d-x: 10vw;
$marge-d-y: 5vw;

// SCREEN SIZES
$lg: '1440px';
$md: '1024px';
$sm: '768px';
$xs: '640px';
>>>>>>> 1a15b9c39befc6b3acd191ed526c9da49bb6664b
