button{
    @include btn-design(true);
    // height: 100%;
}

.btn-link{
    @include btn-design(true);
    text-decoration: none;
    &.margin{
        margin-left: 1rem;
    }
}

.btn-link-2{
    @include btn-design(false);
    text-decoration: none;
}