<p>L&rsquo;alliance de l&rsquo;iFun16 &amp; Skypper evo repr&eacute;sente l&rsquo;essence m&ecirc;me de l&rsquo;ULM&nbsp;! Le biplace le plus l&eacute;ger et &eacute;conomique d&rsquo;Air Cr&eacute;ation est d&rsquo;une simplicit&eacute; d&eacute;concertante et permet de revenir aux fondamentaux sans sacrifier le confort, la robustesse et la s&eacute;curit&eacute; inh&eacute;rents aux ULM Air Cr&eacute;ation. Le best-seller d&rsquo;Air Cr&eacute;ation est &agrave; l&rsquo;aise dans toutes les situations. L&rsquo;homog&eacute;n&eacute;it&eacute; de son comportement et sa large plage de vitesse en fait l&rsquo;appareil id&eacute;al de la formation au vol quotidien, ajoutons &agrave; cela une grande capacit&eacute; d&rsquo;emport et sa faible consommation et l&rsquo;ensemble iFun16 &amp; Skypper evo se transforme pour vos envies d&rsquo;aventure.</p>

<p>Le Skypper fait peau neuve en version evo. Afin de remettre sur le devant de la sc&egrave;ne son &laquo;&nbsp;crossover&nbsp;&raquo; sportif, Air cr&eacute;ation modernise le Skypper. Avec ou sans car&eacute;nage profiter du biplace l&eacute;ger, compact &amp; &eacute;conomique d&rsquo;Air Cr&eacute;ation. Destin&eacute; aussi bien au &laquo;&nbsp;vol plaisir&nbsp;&raquo;, &agrave; l&rsquo;&eacute;cole, a la comp&eacute;tition, qu&rsquo;au voyage ce tricycle est un v&eacute;ritable &laquo;&nbsp;couteau suisse&nbsp;&raquo; !</p>

<p>D&eacute;j&agrave; &eacute;quip&eacute;e de toutes les am&eacute;liorations qu&rsquo;a subies le Skypper au fil des ans, la version evo optimise encore le confort la s&eacute;curit&eacute; et le design de son pr&eacute;d&eacute;cesseur.</p>

<ul>
	<li>Renforcement du train avant</li>
	<li>3 freins &agrave; disque</li>
	<li>Nouvelle sellerie</li>
	<li>Nouvelle console</li>
	<li>Car&eacute;nage amovible</li>
</ul>

<p>Sa simplicit&eacute; (d&rsquo;utilisation et d&rsquo;entretien) ainsi que ses incroyables performances en font le tricycle parfait pour tous les pilotes&nbsp;!</p>

<p>L&rsquo;iFun 16 est l&rsquo;apog&eacute;e de la simplicit&eacute;. Cette aile de 16 m&sup2; a la conception innovante D.S.T.E. (Double Surface &agrave; Transversale Externes) est bien plus qu&rsquo;une simple surface et les surpassent en tous points. Affichant m&ecirc;me des performances &agrave; faire p&acirc;lir bien des ailes &agrave; transversales internes&nbsp;!</p>

<p>Capable de supporter des charges importantes, elle poss&egrave;de aussi une large plage de vitesse lui autorisant le voyage comme l&rsquo;acc&egrave;s aux pistes les plus courtes. Id&eacute;al pour l&rsquo;&eacute;cole, les randonn&eacute;es, la montagne, ou encore les vols quotidiens &hellip; Cette aile ravira toutes vos envies.</p>

<ul>
	<li>Bord d&rsquo;attaque en tissus &laquo;&nbsp;Lite Skin&reg;&nbsp;&raquo;</li>
	<li>Tissu Trilam UV-Stop</li>
	<li>Double surface 40%</li>
</ul>

<p>Aussi disponible en version SP (Short Pack), l&rsquo;iFun 16 &eacute;quip&eacute; de hauban rigide se replis sur le tricycle en quelques minutes. Parfait pour r&eacute;duire l&rsquo;espace de stockage de votre ULM.</p>