<footer>
  <div class="line1">
    <div class="footer-block">
      <h2>Nous contacter</h2>
      <p>
        615, Route de l’aerodrome<br />
        07200 Lanas - Ardèche<br />
        <a href="tel:+33475936666">04 75 93 66 66</a><br />
        <a href="mailto:contact@aircreation.fr">contact@aircreation.fr</a>
      </p>
    </div>
    <div class="footer-block">
      <h2>Nous suivre</h2>
      <ul>
        <li><a href="" target="_blank" rel="noopener"><i class="fa-brands fa-2x fa-facebook-f"></i></a></li>
        <li><a href="" target="_blank" rel="noopener"><i class="fa-brands fa-2x fa-instagram"></i></a></li>
        <li><a href="" target="_blank" rel="noopener"><i class="fa-brands fa-2x fa-linkedin-in"></i></a></li>
      </ul>
    </div>
    <div class="footer-block">
      <h2>Recevoir nos actus</h2>
      {{ form(newsForm) }}
    </div>
    <div class="footer-block cci-block">
      <h2>Site financé par</h2>
      <img src="./uploads/images/footer/logo-region-auvergne.jpg" alt="Financé par la Région Auvergne-Rhône-Alpes" />
    </div>
  </div>
  <hr />
  <div class="line2">
    <ul>
      <li><a>Accueil</a></li>
      <li><a>Le Showroom</a></li>
      <li><a>Sur-Mesure</a></li>
      <li><a>Shop</a></li>
      <li><a>Complet et Occasion</a></li>
      <li><a>Offre de sous-traitance</a></li>
      <li><a>Maintenance</a></li>
      <li><a>Documentation en ligne</a></li>
      <li><a>Notre histoire</a></li>
      <li><a>Notre innovation</a></li>
      <li><a>Liste des revendeurs</a></li>
      <li><a>Actualités</a></li>
    </ul>
    <p>Référencement SEO et photographies : <a href="https://www.agence-gestion-com.fr" target="_blank" rel="noopener">AGC Web</a> | Design graphique : <a href="https://weec.fr" target="_blank" rel="noopener" >WEEC</a> | Conception et développement : Creative Eye Studio</p>
  </div>
</footer>