<header class="header-site {{ headerType }}">
  <div class="logo-container">
    <img src="../uploads/images/logotype.jpg" />
    <button class="btn-nav toggle-nav">
      <span class="bar"></span>
      <span class="label open">Menu</span>
      <span class="label close">Fermer</span>
    </button>
  </div>

  <ul class="second-menu">
    <li><a>Le Showroom</a></li>
    <li><a>Documentation</a></li>
    <li><a>Contact / Devis</a></li>
    <li><a>E-Commerce</a></li>
  </ul>
</header>

<nav class="swiper primary-menu">
  <ul class="main-menu">
    
    <div class='main-btn-bloc bloc1'>
      <li class="case"><a href='../fr'><span>Bienvenue</span></a></li>
    </div>

    <div class='main-btn-bloc bloc2'>
      <li class="case"><a href='../fr/produits'><span>Voir notre showroom</span></a></li>
    </div>

    <div class='main-btn-bloc sub-menu bloc3'>
      <li class="case">
        <span>Consulter nos services :</span>
        <ul>
          <li><a href='../fr/service-sur-mesure'>Sur-Mesure</a></li>
          <li><a href='../fr/'>Shop</a></li>
          <li><a href='../fr/notre-histoire'>Complet et Occasion</a></li>
          <li><a href='../fr/sous-traitance'>Notre offre de sous-traitance</a></li>
          <li><a href='../fr/notre-histoire'>Maintenance</a></li>
          <li><a href='../fr/documentation-en-ligne'>Documentation en ligne</a></li>
        </ul>
      </li>
    </div>

    <div class='main-btn-bloc sub-menu bloc4'>
      <li class="case">
        <span>Découvrir Air Création :</span>
        <ul>
          <li><a href='../fr/notre-histoire'>Notre histoire</a></li>
          <li><a href='../fr/innovation'>Notre innovation</a></li>
          <li><a href='../fr/nos-valeurs'>Nos valeurs</a></li>
          <li><a href='../fr/liste-des-revendeurs'>Liste des revendeurs</a></li>
          <li><a href='../fr/actualites'>Actualités</a></li>
        </ul>
      </li>
    </div>
  </ul>
  
  <div class="swiper-nav-button-prev nav-arrow">
  	<i class="fa-solid fa-chevron-left fa-2x"></i>
  </div>
  <div class="swiper-nav-button-next nav-arrow">
  	<i class="fa-solid fa-chevron-right fa-2x"></i>
  </div>
</nav>