<header>
    <button class="toggle-nav">
        <span class="bar"></span>
        <span class="label open">Menu</span>
        <span class="label close">Fermer</span>
    </button>
    <ul>
        <li><a>Le Showroom</a></li>
        <li><a>Documentation</a></li>
        <li><a>Contact / Devis</a></li>
        <li><a>E-Commerce</a></li>
    </ul>
</header>
<nav>
    <ul>
        <li><span>Bienvenue</span></li>
        <li><span>Voir notre showroom</span></li>
        <li>
            <span>Consulter nos services<span>
            <ul>
                <li><a>Sur-Mesure</a></li>
                <li><a>Shop</a></li>
                <li><a>Complet et Occasion</a></li>
                <li><a>Notre offre de sous-traitance</a></li>
                <li><a>Maintenance</a></li>
                <li><a>Documentation en ligne</a></li>
            </ul>
        </li>
        <li>
            <span>Découvrir Air Création<span>
            <ul>
                <li><a>Notre histoire</a></li>
                <li><a>Notre innovation</a></li>
                <li><a>Liste des revendeurs</a></li>
                <li><a>Actualités</a></li>
            </ul>
        </li>
    </ul>
</nav>