<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('fontawesome') }}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tarteaucitronjs/1.9.6/tarteaucitron.js"></script>
            <script type="text/javascript">
                tarteaucitron.init({
                    "privacyUrl": "", /* Privacy policy url */
                    "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */
                    "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
                    "cookieName": "tarteaucitron", /* Cookie name */
                    "orientation": "bottom", /* Banner position (top - bottom) */
                    "groupServices": false, /* Group services by category */
                    "showAlertSmall": false, /* Show the small banner on bottom right */
                    "cookieslist": false, /* Show the cookie list */
                    "closePopup": true, /* Show a close X on the banner */
                    "showIcon": false, /* Show cookie icon to manage cookies */
                    "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */
                    "adblocker": false, /* Show a Warning if an adblocker is detected */
                    "DenyAllCta" : true, /* Show the deny all button */
                    "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
                    "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                    "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */
                    "removeCredit": false, /* Remove credit link */
                    "moreInfoLink": true, /* Show more info link */
                    "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
                    "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */
                    "readmoreLink": "", /* Change the default readmore link */
                    "mandatory": true, /* Show a message about mandatory cookies */
                    "mandatoryCta": true /* Show the disabled accept button when mandatory on */
                });

                (tarteaucitron.job = tarteaucitron.job || []).push('instagram');
            </script>
        {% endblock %}
    </body>
</html>
