.doc-container{
    padding: $marges-m;
    h2{
        font-weight: 300;
    }
    h3{
        font-weight: 300;
        font-size: 1.7em;
    }
    .cat-block{
        padding: $marges-m;
        background-color: $bw-color-2;
        &:not(:last-child){
            margin-bottom: $marges-m;
        }
        ul{
            margin-bottom: 0;
        }
    }
    @media screen and (min-width:768px) {
        .products-docs-list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2rem;
            grid-auto-rows: minmax(100px, auto);
        }
        .cat-block{
            &:not(:last-child){
                margin-bottom: 0;
            }
        }
    }
    @media screen and (min-width:1024px) {

    }
    @media screen and (min-width:1200px){
        padding: $marges-d-y $marges-d-x;
        h2{
            font-size: 2.5rem;
            margin-bottom: $marges-d-y;
        }
    }
}