select{
    padding: 1.5rem;
    border: none;
}

.options-input-list{
    margin: 1rem 0 $marges-m;
    @media screen and (min-width:1024px) {
        display: flex;
        flex-wrap: wrap;
        > *{
            width: 33.33%;
        }
    }
}

.options-container{
    padding: $marges-m;
    hr{
        border: none;
        border-top: .15rem solid $bw-color-3;
        margin: $marges-m 0;
    }
    .images-list{
        figure{
            &:not(:last-child){
                margin-bottom: $marges-m;
            }
        }
    }
    @media screen and (min-width:768px) {
        .images-list{
            columns: 2;
            column-gap: $marges-m;
        }
    }
    @media screen and (min-width:1024px) {
        padding: $marges-d-y $marges-d-x;
        .images-list{
            columns: 3;
        }
    }
    @media screen and (min-width:1200px) {
        .images-list{
            columns: 4;
        }
    }
}