.posts-container{
    padding: $marges-m;
    max-width: 1400px;
    h1{
        text-align: center;
        font-size: 3em;
        font-weight: 400;
    }
    .post-block{
        &:not(:last-child){
            margin-bottom: $marges-m;
        }
    }
    @media screen and (min-width: 768px) {
        .posts-list{
            /*display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: $marges-m;*/

            display: grid;
            grid-template-columns: repeat(3, 2fr);
            grid-column-gap: $marges-m;
            grid-row-gap: $marges-m;
                
                
        }
        .post-block{
            flex: 0 0 calc(50% - (#{$marges-m} / 2));
            &:not(:last-child){
                margin-bottom: 0;
            }
        }
    }
    @media screen and (min-width: 1024px) {
        .post-block{
            flex: 0 0 calc(32% - (#{$marges-m} / 2));
        }
    }
    @media screen and (min-width: 1200px) {
        margin: $marges-d-y auto;
    }
}