// PRODUCT MAIN BLOCK
// ------------------------------------------
.product-main-block{
    position: relative;
    .logos{
        position: absolute;
        top: 10rem;
        right: 10rem;
        img{
            max-width: 300px;
            display: block;
        }
        .and-icon{
            font-size: 3em;
            font-weight: 400;
        }
    }
}


// IMAGES TABS CONTAINER
// ------------------------------------------
.tabs{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    a{
        text-align: center;
        display: block;
        padding: 1rem 2rem;
        background-color: $p-color;
        &.active{
            background-color: $p-color-d;
            color: white;
        }
    }
    @media screen and (min-width:768px) {
        display: flex;
        > *{
            flex-grow: 1;
            flex-basis: 0;
        }
    }
}

.slide-image{
    @include coverImage('16-9');
}

.pswp img {
    max-width: none;
    object-fit: contain;
}

// DESCRIPTION
// ------------------------------------------
.desc-container{
    padding: $marges-m;
    background-color: $bw-color-2;
    @media screen and (min-width: 1024px) {
        padding: $marges-d-y $marges-d-x;
    }
}


// CARACTERISTIQUES
// ------------------------------------------
.carac-block-container{
    padding: $marges-m;
    text-align: center;
    .carac-block{
        padding: $marges-m;
        background-color: $bw-color-2;
        img{
            display: block;
            margin: 0 auto $marges-m;
        }
        p{
            font-size: 1.1em;
            font-weight: 400;
        }
        &:not(:last-child){
            margin-bottom: $marges-m;
        }
    }
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        gap: $marges-m;
        .carac-block{
            width: calc(50% - (#{$marges-m} / 2));
            &:not(:last-child){
                margin-bottom: 0;
            }
        }
    }
    @media screen and (min-width:1024px) {
        padding: $marges-d-y $marges-d-x;
        .carac-block{
            width: calc(32.8% - (#{$marges-m} / 2));
        }
    }
    @media screen and (min-width:1200px) {
        .carac-block{
            width: calc(24% - (#{$marges-m} / 2));
        }
    }
}


// DIMENSIONS
// ------------------------------------------
.dims-container{
    padding: $marges-m;
    img{
        width: 100%;
        height: auto;
    }
    @media screen and (min-width:1024px) {
        padding: $marges-d-y $marges-d-x;
        img{
            border: .0625rem solid $bw-color-2;
        }
    }
}


// SWIPER
// ------------------------------------------
.swiper{
    position: relative;
    .swiper-btn{
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        cursor: pointer;
        path{
            fill: white;
        }
        &.next{
            right: 1rem;
        }
        &.prev{
            left: 1rem;
        }
    }
    
}

.images-tabs-container{
    @media screen and (min-width: 1024px) {
        .tab-panes{
            padding: $marges-m;
            background-color: $bw-color-2;
        }
    }
}


// TABS
// ------------------------------------------
.tab-pane{
    &:not(.active){
        display: none;
    }
}