// PRODUCT MAIN BLOCK
// ------------------------------------------
.product-main-block{
    .image{
        figure{
            @include coverImage('16-9');
        }
        select{
            background-color: $p-color;
            border: none;
            border-radius: 0;
            padding: 1rem;
        }
    }
    .intro{
        padding: $marges-m;
        img{
            width: 100%;
            height: auto;
            margin-bottom: $marges-m;
        }
        .main-blocks-container{
            .main-block{
                padding: $marges-m;
                background-color: $p-color;
                text-align: center;
                font-weight: 400;
                &:not(:last-child){
                    margin-bottom: $marges-m;
                }
            }
        }
    }
}


// IMAGES TABS CONTAINER
// ------------------------------------------
.tabs{
    margin: 0;
    padding-left: 0;
    a{
        text-align: center;
        display: block;
        padding: 1rem 2rem;
        background-color: $p-color;
        &.active{
            background-color: $p-color-d;
            color: white;
        }
    }
}


// DESCRIPTION
// ------------------------------------------
.desc-container{
    padding: $marges-m;
    background-color: $bw-color-2;
}


// CARACTERISTIQUES
// ------------------------------------------
.carac-block-container{
    padding: $marges-m;
    text-align: center;
    .carac-block{
        padding: $marges-m;
        background-color: $bw-color-2;
        img{
            display: block;
            margin: 0 auto $marges-m;
        }
        p{
            font-size: 1.1em;
            font-weight: 400;
        }
        &:not(:last-child){
            margin-bottom: $marges-m;
        }
    }
}


// DIMENSIONS
// ------------------------------------------
.dims-container{
    padding: $marges-m;
    img{
        width: 100%;
        height: auto;
    }
}


// SWIPER
// ------------------------------------------
.swiper{
    position: relative;
    .swiper-btn{
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        cursor: pointer;
        path{
            fill: white;
        }
        &.next{
            right: 1rem;
        }
        &.prev{
            left: 1rem;
        }
    }
}


// TABS
// ------------------------------------------
.tab-pane{
    &:not(.active){
        display: none;
    }
}