// PRODUCT MAIN BLOCK
// ------------------------------------------
.product-main-block{
    position: relative;
    .logos{
        /*position: absolute;
        top: 10rem;
        left: calc(50% + 10vw);*/
        margin-bottom: $marges-m;
        img{
            max-width: 100%;
            width: 32vh;
            display: block;
            &:last-child{
                display: block;
                margin-left: auto;
            }
        }
        .and-icon{
            font-size: 3em;
            font-weight: 400;
            text-align: center;
            display: block;
            margin: 1rem 0;
        }
    }
    @media screen and (max-width: 1200px) {
        .logos{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: $marges-m;
            .and-icon{
                margin: 0 $marges-m;
            }
        }
    }
    @media screen and (max-width: 640px) {
        .logos{
            flex-direction: column;
            .and-icon{
                margin: calc(#{$marges-m} / 2) $marges-m;
            }
            img{
                width: 50%;
            }
        }
        
    }
}

.motor-image-container{
    position: relative;
    height: 100vh;
    .motor-image{
        position: absolute;
        width: 100%;
        height: 100%;
        img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:not(.active){
            display: none;
        }
    }
    @media screen and (max-width: 1200px) {
        height: 50vw;
    }
}

.motor-tabs-container{
    .tabs{
        width: 100%;
        li{
            flex: 1;
        }
        
        a{
            margin: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}


// MOTOR BOARD
// ------------------------------------------
.motor-board{
    width: 500px;
    position: absolute;
    top: 20vh;
    left: calc(50% + 10vw);
    select{
        background-color: $p-color;
        color: white;
    }
    .block{
        background-color: $bw-color-2;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: $marges-m $marges-m 0;
        .sub-block{
            margin-bottom: $marges-m;
            width: 50%;
            display: flex;
            p{
                font-weight: 400;
                &.motor-main-value{
                    font-size: 1.75em;
                }
            }
            img{
                width: 100px;
                margin-right: 1rem;
            }
        }
        &:not(.active){
            display: none;
        }
    }
    @media screen and (max-width: 1200px) {
        width: 100%;
        position: relative;
        top: inherit;
        left: inherit;
    }
    @media screen and (max-width: 640px) {
        .block{
            .sub-block{
                width: 100%;
            }
        }
       
    }
}


// IMAGES TABS CONTAINER
// ------------------------------------------
.tabs{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    &:not(.rounded){
        a{
            text-align: center;
            display: block;
            padding: 1rem 2rem;
            background-color: $p-color;
            display: flex;
            justify-content: center;
            &.active{
                background-color: $p-color-d;
                color: white;
            }
        }
    }
    
    @media screen and (min-width:768px) {
        display: flex;
        > *{
            flex-grow: 1;
            flex-basis: 0;
        }
    }
}

.slide-image{
    @include coverImage('16-9');
}

.pswp img {
    max-width: none;
    object-fit: contain;
}

// DESCRIPTION
// ------------------------------------------
.desc-container{
    padding: $marges-m;
    background-color: $bw-color-2;
    @media screen and (min-width: 1024px) {
        padding: $marges-d-y $marges-d-x;
    }
}


// CARACTERISTIQUES
// ------------------------------------------
.motor-list-container{
    padding: $marges-d-y $marges-d-x;
}

.motor-list-block{
    &:not(.active){
        display: none;
    }
    .motor-list-section{
        padding: $marges-m;
        background-color: $bw-color-2;
        h3{
            font-size: 1.5em;
            font-weight: 400;
        }
        table{
            width: 100% !important;
        }
        td{
            width: 50% !important;
            &:nth-child(even){
                text-align: right;
            }
            span{
                display: block;
            }
        }
    }
}

.motor-list{
    display: flex;
    flex-wrap: wrap;
    gap: $marges-m;
    > *{
        width: calc(33.33% - $marges-m);
    }
    @media screen and (max-width:1200px) {
        > *{
            width: calc(50% - $marges-m);
        }
    }
    @media screen and (max-width:768px) {
        > *{
            width: calc(100%);
        }
    }
}


// DIMENSIONS
// ------------------------------------------
.dims-container{
    padding: $marges-m;
    img{
        width: 100%;
        height: auto;
    }
    @media screen and (min-width:1024px) {
        padding: $marges-d-y $marges-d-x;
        img{
            border: .0625rem solid $bw-color-2;
        }
    }
}


// SWIPER
// ------------------------------------------
.swiper{
    position: relative;
    .swiper-btn{
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: translateY(-50%);
        cursor: pointer;
        path{
            fill: white;
        }
        &.next{
            right: 1rem;
        }
        &.prev{
            left: 1rem;
        }
    }
    
}

#product-galleries{
    .swiper-slide{
        transition-duration: .5s;
        opacity: 1;
        &:not(.swiper-slide-active){
            transform: scale(.8);
            opacity: .7;
        }
    }
}

.images-tabs-container{
    @media screen and (min-width: 1024px) {
        .tab-panes{
            padding: $marges-m;
            background-color: $bw-color-2;
        }
    }
}


// TABS
// ------------------------------------------
.tab-pane{
    &:not(.active){
        display: none;
    }
}