.show-title-block{
    padding: $marges-m;
    h1{
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 2rem;
    }
    p{
        &:not(:last-child){
            margin-bottom: 2.2rem;
        }
    }
    @media screen and (min-width: 1024px) {
        padding: $marges-d-y 0;
        h1{
            font-size: 3.5em;
        }
    }
}

.filters{
    background-color: $bw-color-2;
    color: $bw-color-5;
    padding: $marges-m;
    select{
        border: 0;
        color: $bw-color-5;
        background-color: rgba($color: $bw-color-5, $alpha: 0.2);
        padding: 1rem;
        margin-bottom: 1rem;
    }
    @media screen and (min-width:1024px) {
        form{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .input-block{
                width: calc(33.33% - (#{$marges-m} / 2));
            }
        }
        &.no-flex{
            form{
                display: block;
                .input-block{
                    width: 100%;
                }
            }
        }
        &.doc-form{
            form{
                .input-block{
                    width: calc(50% - (#{$marges-m} / 2));
                }
            }
        }
    }
}

.product-block{
    padding: calc(#{$marges-m} * 1.5);
    //background-color: $bw-color-2;
    a{
        color: black;
        text-decoration: none;
    }
    .image{
        margin-bottom: calc(#{$marges-m} * 1.5);
        padding-top: 100%;
        position: relative;
        img{
            position: absolute;
            top: 0;
            left: 0;    
            object-fit: cover;
            height: 100%;
        }
    }
    .and-icon{
        margin: 0 calc(#{$marges-m} / 2);
        font-size: 2em;
        font-weight: 400;
    }
    .logos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            max-width: 200px;
            height: auto;
        }
    }
    /*h2{
        margin-bottom: 0;
        text-align: center;
    }*/
    @media screen and (min-width: 768px) {
        width: 50%;
    }
    @media screen and (min-width: 1024px) {
        padding: calc(#{$marges-d-x} * .5);
        width: 33.33%;
    }
    @media screen and (min-width:1200px) {
        .image{
            img{
                &.thumb-hover{
                    display: block;
                    transition-duration: .5s;
                }
            }
        }
        &:hover{
            .image{
                img{
                    &.thumb-hover{
                        opacity: 0;
                    }
                }
            }
        }
        .logos{
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}

.products-list-container{
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}