<!-- Cover Page -->
<div class="cover-page">
    <div class="text">
        <h1>Nos options</h1>
    </div>
    <div class="image">
        <img alt="" src="../uploads/images/pages/innovation/photo-test.jpeg" />
    </div>
</div>

<!-- Option Block -->
<section class="option-container">
    <div class="info-block-action">
        <div class="text">
            <h2>Nom de l'option</h2>
            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</p>
        </div>
        <div class="image"><img data-viewer="1" alt="https://picsum.photos/id/100/500" src="https://picsum.photos/id/100/2000" /></div>
    </div>
    <div class="images-option-list">
        <div class="img-option-button-container">
            <figure data-viewer-id="1" class="img-option-button"><img src="https://picsum.photos/id/100/2000" /></figure>
        </div>
        <div class="img-option-button-container">
            <figure data-viewer-id="1" class="img-option-button"><img src="https://picsum.photos/id/200/2000" /></figure>
        </div>
        <div class="img-option-button-container">
            <figure data-viewer-id="1" class="img-option-button"><img src="https://picsum.photos/id/500/2000" /></figure>
        </div>
        <div class="img-option-button-container">
            <figure data-viewer-id="1" class="img-option-button"><img src="https://picsum.photos/id/400/2000" /></figure>
        </div>
    </div>
</section>

<!-- Option Block -->
<section class="option-container">
    <div class="info-block-action">
        <div class="text">
            <h2>Nom de l'option</h2>
            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</p>
        </div>
        <div class="image"><img data-viewer="2" alt="https://picsum.photos/id/100/500" src="https://picsum.photos/id/500/2000" /></div>
    </div>
    <div class="images-option-list">
        <div class="img-option-button-container">
            <figure data-viewer-id="2" class="img-option-button"><img src="https://picsum.photos/id/500/2000" /></figure>
        </div>
        <div class="img-option-button-container">
            <figure data-viewer-id="2" class="img-option-button"><img src="https://picsum.photos/id/600/2000" /></figure>
        </div>
        <div class="img-option-button-container">
            <figure data-viewer-id="2" class="img-option-button"><img src="https://picsum.photos/id/700/2000" /></figure>
        </div>
        <div class="img-option-button-container">
            <figure data-viewer-id="2" class="img-option-button"><img src="https://picsum.photos/id/800/2000" /></figure>
        </div>
    </div>
</section>